  
/* NAV */
	
	.container {
    margin: 0px auto;
    padding-right: 20px;
  }
  
  #nav {
    background: #3f3f3f;
    color: white;
  }
  
  #menu ul {
		list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	}
	
	#menu li {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }
